<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Greeting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9">
    <style>
        .table {
            width: 100%; /* 테이블의 너비를 100%로 설정합니다. 부모 요소에 맞게 조절됩니다. */
        }
        .center-align {
            text-align: center;
        }
    </style>
</head>
<body>
<p>안녕하세요 Task Management System 입니다.</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>팀 이름</th>
        <th>팀 매니저</th>
        <th>팀 설명</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teamOverviewDto : ${teamOverviewDtoList}" class="table-row">
        <td th:text="${teamOverviewDto.id}" class="center-align">Id</td>
        <td class="center-align">
            <a th:href="@{'/views/team/' + ${teamOverviewDto.id}}">
                <span th:text="${teamOverviewDto.teamName}">팀 이름</span>
            </a>
        </td>
        <td th:text="${teamOverviewDto.teamManagerName}" class="center-align">팀 매니저</td>
        <td th:text="${teamOverviewDto.teamDesc}" class="center-align">팀 설명</td>
    </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!-- JavaScript 코드 위치 수정 -->
<script>
    // 원하는 쿠키 이름
    var cookieName = "JWT";

    // JWT 토큰
    var jwtToken = getCookieValue(cookieName);

    // API 요청을 보낼 URL (실제 API 엔드포인트 URL로 수정)
    var apiUrl = "your_actual_api_endpoint_url_here";

    // JWT 토큰을 가져오는 함수
    function getCookieValue(name) {
        var cookieValue = null;
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.indexOf(name + "=") === 0) {
                cookieValue = cookie.substring(name.length + 1);
                break;
            }
        }
        return cookieValue;
    }

    // Fetch API 요청
    fetch(apiUrl, {
        method: "GET",
        headers: {
            "Authorization": "Bearer " + jwtToken
        }
    })
        .then(function(response) {
            if (response.ok) {
                return response.text();
            }
            throw new Error("API 요청이 실패했습니다.");
        })
        .then(function(data) {
            // 요청이 성공적으로 완료됨
            console.log(data);
        })
        .catch(function(error) {
            // 요청이 실패했을 때의 처리
            console.error(error);
        });
</script>
</body>
</html>
