<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 작업</title>
</head>
<body>
<h1>나의 작업</h1>
<ul id="myTasksList"></ul>
<script>
    let Jwt = localStorage.getItem("JWT");
    fetch('/api/users/myTasks', {
        headers: {
            "Authorization": "Bearer " + Jwt
        },
        method: "GET"
    })
        .then(response => response.json())
        .then(data => {
            const myTasksList = document.getElementById('myTasksList');
            myTasksList.innerHTML = ''; // 목록 초기화

            for (const teamName in data) {

                const tasks = data[teamName];
                const teamHeader = document.createElement('h2');
                teamHeader.textContent = teamName;
                myTasksList.appendChild(teamHeader);

                const taskList = document.createElement('ul');
                tasks.forEach(task => {
                    const taskItem = document.createElement('li');
                    taskItem.textContent = task.taskName;
                    taskList.appendChild(taskItem);
                });
                myTasksList.appendChild(taskList);
            }
        })
        .catch(error => {
            console.error('오류:', error);
        });
</script>
</body>
</html>
