<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style>
        /* 전체 페이지 스타일링 */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0; /* 페이지 배경색 설정 */
            margin: 0;
            padding: 0;
        }

        /* 페이지 제목 스타일링 */
        h1 {
            background-color: #007acc; /* 배경색 설정 */
            color: #fff; /* 텍스트 색상 설정 */
            text-align: center; /* 가운데 정렬 */
            padding: 20px 0; /* 위아래 패딩 설정 */
            margin: 0;
        }

        #task_details {
            font-size: large;
            margin: 0;
            padding: 0;
            color: #007acc; /* 링크 색상 설정 */
        }

        #comments {
            margin: 0;
            padding: 0;
            color: #007acc; /* 링크 색상 설정 */
        }

        #new_comment_section {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        #new_comment_input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        #new_comment_button {
            background-color: #007acc;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 16px;
        }

        #new_comment_button:hover {
            background-color: #005b9f;
        }

        #new_reply_button {
            background-color: #007acc;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-left: 10px;
            cursor: pointer;
            font-size: 16px;
        }

        #new_reply_button:hover {
            background-color: #005b9f;
        }

    </style>
</head>
<body>
<h1>업무 상세 페이지
    <button id="logout_button" type="button" class="btn btn-info">로그아웃</button>

</h1>
<ul id="task_details"></ul>
<h1>댓글</h1>
<ul id="comments"></ul>
<br>
<span id="new_comment_section">
<input id="new_comment_input" type="text" placeholder="댓글을 입력해주세요." name="comment_content">
<button id="new_comment_button"
        onclick="post_comment(document.getElementById('new_comment_input').value)">댓글 등록</button>
</span>
<script>
    // URL에서 teamId를 추출하는 함수
    const url = window.location.href;
    let auth = 'Bearer ' + localStorage.getItem("JWT");

    function getTeamIdFromURL() {
        const match = url.match(/\/views\/team\/(\d+)\/tasks\/(\d+)/); // \/views\/team\/(\d+)정규식을 사용하여 추출
        if (match) {
            return match[1];
        } else {
            throw new Error("Team ID not found in URL");
        }
    }

    // URL에서 taskId를 추출하는 함수
    function getTaskIdFromURL() {
        const match = url.match(/\/views\/team\/(\d+)\/tasks\/(\d+)/); // \/views\/team\/(\d+)정규식을 사용하여 추출
        if (match) {
            return match[2];
        } else {
            throw new Error("Task ID not found in URL");
        }
    }

    const teamId = getTeamIdFromURL();
    const taskId = getTaskIdFromURL();
    // /api/team/{teamId}/tasks/{taskId} 업무 상세 조회
    fetch('/api/team/' + teamId + '/tasks/' + taskId, {
        headers: {
            "Authorization": auth
        },
        method: "GET"
    })
        .then(response => response.json())
        .then(data => {
            const taskName = data.taskName;
            const taskDesc = data.taskDesc;
            const startDate = data.startDate;
            const dueDate = data.dueDate;
            const worker = data.worker;
            const status = data.status;

            const task_info = document.getElementById('task_details');

            const task_name_tag = document.createElement('ul');
            task_name_tag.textContent = "업무명 : " + taskName;
            // 수정 버튼
            const taskNameEditButton = document.createElement('button');
            taskNameEditButton.textContent = '수정';
            taskNameEditButton.addEventListener('click', () => {
                const newName = prompt('새로운 업무명을 입력하세요:', taskName);
                if (newName !== null) {
                    // @PutMapping("/api/team/{teamId}")
                    fetch('/api/team/' + teamId + '/tasks/' + taskId, {
                        headers: {
                            "Authorization": auth,
                            'Content-Type': 'application/json'
                        },
                        method: "PUT",
                        body: JSON.stringify({
                            "newName": newName
                        })
                    })
                        .then(response => response.json())
                        .then(responseDto => {
                            alert(responseDto.message);
                            location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                }
            });
            task_name_tag.appendChild(taskNameEditButton);
            task_info.appendChild(task_name_tag);

            const task_desc_tag = document.createElement('ul');
            task_desc_tag.textContent = "업무 내용 : " + taskDesc;
            // 수정 버튼
            const taskDescEditButton = document.createElement('button');
            taskDescEditButton.textContent = '수정';
            taskDescEditButton.addEventListener('click', () => {
                const newDesc = prompt('새로운 업무 내용을 입력하세요:', taskDesc);
                if (newDesc !== null) {
                    // @PutMapping("/api/team/{teamId}")
                    fetch('/api/team/' + teamId + '/tasks/' + taskId, {
                        headers: {
                            "Authorization": auth,
                            'Content-Type': 'application/json'
                        },
                        method: "PUT",
                        body: JSON.stringify({
                            "newDesc": newDesc
                        })
                    })
                        .then(response => response.json())
                        .then(responseDto => {
                            alert(responseDto.message);
                            location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                }
            });
            task_desc_tag.appendChild(taskDescEditButton);
            task_info.appendChild(task_desc_tag);

            const task_start_at_tag = document.createElement('ul');
            task_start_at_tag.textContent = "업무 시작일 : " + startDate;
            // 업무 시작일 수정 버튼
            const taskStartEditButton = document.createElement('button');
            taskStartEditButton.textContent = '수정';
            taskStartEditButton.addEventListener('click', () => {
                const newStart = prompt('새로운 업무 시작일을 입력하세요:', startDate);
                if (newStart !== null) {
                    // @PutMapping("/api/team/{teamId}")
                    fetch('/api/team/' + teamId + '/tasks/' + taskId, {
                        headers: {
                            "Authorization": auth,
                            'Content-Type': 'application/json'
                        },
                        method: "PUT",
                        body: JSON.stringify({
                            "newStartDate": newStart
                        })
                    })
                        .then(response => response.json())
                        .then(responseDto => {
                            alert(responseDto.message);
                            location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                }
            });
            task_start_at_tag.appendChild(taskStartEditButton);
            task_info.appendChild(task_start_at_tag);

            const task_end_at_tag = document.createElement('ul');
            task_end_at_tag.textContent = "업무 마감일 : " + dueDate;
            // 업무 종료일 수정 버튼
            const taskEndEditButton = document.createElement('button');
            taskEndEditButton.textContent = '수정';
            taskEndEditButton.addEventListener('click', () => {
                const newDueDate = prompt('새로운 업무 마감일을 입력하세요:', dueDate);
                if (newDueDate !== null) {
                    // @PutMapping("/api/team/{teamId}")
                    fetch('/api/team/' + teamId + '/tasks/' + taskId, {
                        headers: {
                            "Authorization": auth,
                            'Content-Type': 'application/json'
                        },
                        method: "PUT",
                        body: JSON.stringify({
                            "newDueDate": newDueDate
                        })
                    })
                        .then(response => response.json())
                        .then(responseDto => {
                            alert(responseDto.message);
                            location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                }
            });
            task_end_at_tag.appendChild(taskEndEditButton);
            task_info.appendChild(task_end_at_tag);

            const task_worker_tag = document.createElement('ul');
            task_worker_tag.textContent = "업무 담당자 : " + worker;
            // 수정 버튼
            const workerEditButton = document.createElement('button');
            workerEditButton.textContent = '수정';
            workerEditButton.addEventListener('click', () => {
                const newWorker = prompt('새로운 업무 업무 담당자를 입력하세요:', worker);
                if (newWorker !== null) {
                    // @PutMapping("/api/team/{teamId}")
                    fetch('/api/team/' + teamId + '/tasks/' + taskId, {
                        headers: {
                            "Authorization": auth,
                            'Content-Type': 'application/json'
                        },
                        method: "PUT",
                        body: JSON.stringify({
                            "newWorker": newWorker
                        })
                    })
                        .then(response => response.json())
                        .then(responseDto => {
                            alert(responseDto.message);
                            location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                }
            });
            task_worker_tag.appendChild(workerEditButton);
            task_info.appendChild(task_worker_tag);

            const task_status_tag = document.createElement('ul');
            task_status_tag.textContent = "업무 진행 상태 : " + status;
            // 업무 상태 수정 버튼
            const taskStatusEditButton = document.createElement('button');
            taskStatusEditButton.textContent = '수정';
            taskStatusEditButton.addEventListener('click', () => {
                const newStatus = prompt('새로운 업무 상태를 입력하세요:', status);
                if (newStatus !== null) {
                    // /api/team/{teamId}
                    fetch('/api/team/' + teamId + '/tasks/' + taskId, {
                        headers: {
                            "Authorization": auth,
                            'Content-Type': 'application/json'
                        },
                        method: "PUT",
                        body: JSON.stringify({
                            "newStatus": newStatus
                        })
                    })
                        .then(response => response.json())
                        .then(responseDto => {
                            alert(responseDto.message);
                            location.reload();
                        })
                        .catch(error => {
                            alert(error.message);
                        })
                }
            });
            task_status_tag.appendChild(taskStatusEditButton);
            task_info.appendChild(task_status_tag);

        })

    // /api/team/{teamId}/task/{taskId}/comments 업무 댓글 조회
    fetch('/api/team/' + teamId + '/tasks/' + taskId + '/comments', {
        headers: {
            "Authorization": auth
        },
        method: "GET"
    })
        .then(response => response.json())
        .then(data => {
            const comment_section = document.getElementById('comments');

            // 여기서 data는 페이지 객체를 나타냅니다.

            // 페이지 데이터에서 TaskCommentReadDto 객체 목록을 가져옵니다.
            const taskComments = data.content;

            // TaskCommentReadDto 객체들을 반복하여 표시 또는 처리합니다.
            taskComments.forEach(comment => {
                // 작성자 이름과 내용을 추출
                const writerName = comment.writerName;
                const content = comment.content;

                // 작성자 이름과 내용을 HTML 엘리먼트로 만들어 추가하거나 표시
                const commentElement = document.createElement('ul');
                commentElement.innerHTML = `<p><strong>${writerName}:</strong> ${content}</p>`;

                // 만약 댓글에 대한 답글도 표시해야 한다면, replies를 처리할 수 있습니다.
                if (comment.replies) {
                    comment.replies.forEach(reply => {
                        const replyElement = document.createElement('ul');
                        replyElement.innerHTML = `<p>└ <strong>${reply.writerName}:</strong> ${reply.reply}</p>`;
                        // 답글을 댓글 아래에 표시하거나 원하는 위치에 추가
                        commentElement.appendChild(replyElement);
                    });
                }
                const reply_add_button = document.createElement('button');
                reply_add_button.id = "new_reply_button"
                reply_add_button.textContent = "답글달기";
                reply_add_button.addEventListener('click', () => {
                    const new_reply_content = prompt("답글을 입력해주세요.");
                    if (new_reply_content !== null) {
                        const commentId = comment.id;
                        fetch('/api/team/' + teamId + '/tasks/' + taskId + '/comments/' + commentId + '/reply', {
                            headers: {
                                "Authorization": auth,
                                "Content-Type": "application/json"
                            },
                            method: "POST",
                            body: JSON.stringify({
                                "content": new_reply_content
                            })
                        })
                            .then(response => {
                                window.location.reload()
                            })
                            .catch(error => {
                                alert(error.message)
                            })
                    }
                })
                commentElement.appendChild(reply_add_button);
                // 표시할 요소에 추가하거나 DOM에 직접 추가
                comment_section.appendChild(commentElement);
            });
        });


    // console.log(teamId + "    " + taskId);
    function post_comment(comment) {
        fetch('/api/team/' + teamId + '/tasks/' + taskId + '/comments', {
            headers: {
                "Authorization": auth,
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify({
                "content": comment
            })
        })
            .then(response => {
                window.location.reload();
            })
    }

    function post_reply(reply) {
        fetch('/api/team/' + teamId + '/tasks/' + taskId + '/comments/' + commentId)
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script>
    const logout_button = document.getElementById("logout_button");
    logout_button.addEventListener("click", () => {
        localStorage.removeItem("JWT")
        window.location.reload();
    })
</script>

</body>
</html>