<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* 전체 페이지 스타일링 */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0; /* 페이지 배경색 설정 */
            margin: 0;
            padding: 0;
        }

        /* 페이지 제목 스타일링 */
        h1 {
            background-color: #007acc; /* 배경색 설정 */
            color: #fff; /* 텍스트 색상 설정 */
            text-align: center; /* 가운데 정렬 */
            padding: 20px 0; /* 위아래 패딩 설정 */
            margin: 0;
        }

        #team_info {
            font-size: large;
            margin: 0;
            padding: 0;
            color: #007acc; /* 링크 색상 설정 */
        }
    </style>
</head>
<body>
<h1>팀 상세 페이지</h1>
<ul id="team_info"></ul><br>
<h1>업무 현황</h1>
<table id="tasks"></table>
<script>
    // URL에서 teamId를 추출하는 함수
    function getTeamIdFromURL() {
        const url = window.location.href;
        const match = url.match(/\/views\/team\/(\d+)/); // 정규식을 사용하여 추출
        if (match) {
            return match[1];
        } else {
            throw new Error("Team ID not found in URL");
        }
    }

    const teamId = getTeamIdFromURL();

    // /api/team/{teamId} 팀 정보 조회
    let Jwt = localStorage.getItem("JWT");
    fetch('/api/team/' + teamId, {
        headers: {
            "Authorization": "Bearer " + Jwt
        },
        method: "GET"
    })
        .then(response => response.json())
        .then(data => {
            // Team Info
            const team_info = document.getElementById('team_info');
            const team_name = document.createElement('h2');
            team_name.textContent = '팀이름 : ' + data.name;
            team_info.appendChild(team_name);

            const team_desc = document.createElement('p');
            team_desc.textContent = '팀설명 : ' + data.desc;
            team_info.appendChild(team_desc);

            // TODO 현재인원 추가하기

            const team_limit = document.createElement('p');
            team_limit.textContent = '팀 최대인원 : ' + data.memberLimit;
            team_info.appendChild(team_limit);
        })

    // /api/team/{teamId}/tasks 팀 업무 전체 조회
    fetch('/api/team/' + teamId + '/tasks', {
        headers: {
            "Authorization": "Bearer " + Jwt
        },
        method: "GET"
    })
        .then(response => response.json())
        .then(data => {
            // 테이블 생성
            const table = document.getElementById('tasks');

            // 미완료 업무와 완료 업무를 나눌 섹션 생성
            const incompleteSection = document.createElement('section');
            incompleteSection.innerHTML = "<h2>미완료 업무</h2>";

            const completeSection = document.createElement('section');
            completeSection.innerHTML = "<h2>완료 업무</h2>";

            // 테이블 헤더 생성
            const headerRow = document.createElement('tr');

            const taskNameHeader = document.createElement('th');
            taskNameHeader.textContent = "작업 이름";

            const workerHeader = document.createElement('th');
            workerHeader.textContent = "작업자";

            const statusHeader = document.createElement('th');
            statusHeader.textContent = "상태";

            headerRow.appendChild(taskNameHeader);
            headerRow.appendChild(workerHeader);
            headerRow.appendChild(statusHeader);

            completeSection.appendChild(headerRow);
            incompleteSection.appendChild(headerRow.cloneNode(true)); // TODO 회고록에 작성하기

            data.forEach(task => {
                // 새로운 열(행) 생성
                const row = document.createElement('tr');

                // 각 업무의 정보를 표시할 셀(칸) 생성
                const taskNameCell = document.createElement('td');
                taskNameCell.textContent = task.taskName;

                const workerCell = document.createElement('td');
                workerCell.textContent = task.worker;

                const statusCell = document.createElement('td');
                statusCell.textContent = task.status;

                // 데이터 셀(칸)을 행에 추가
                row.appendChild(taskNameCell);
                row.appendChild(workerCell);
                row.appendChild(statusCell);

                // 미완료 업무와 완료 업무 섹션에 행 추가
                if (task.status === 'DONE') {
                    completeSection.appendChild(row);
                } else {
                    incompleteSection.appendChild(row);
                }
            });

            // 섹션을 본문에 추가
            incompleteSection.appendChild(document.createElement('hr'));
            completeSection.appendChild(document.createElement('hr'));
            table.appendChild(incompleteSection);
            table.appendChild(completeSection);
        });

    // /api/team/{teamId}/tasks/myTasks 팀 내 내 업무 조회
    fetch('/api/team/' + teamId + '/tasks/myTasks',
        {
            headers: {
                "Authorization": "Bearer " + Jwt
            },
            method: "GET"
        })
        .then(response => response.json())
        .then(data => {
            const table = document.getElementById('tasks');


            const my_tasks_section = document.createElement('section');
            my_tasks_section.innerHTML = "<h2>내 업무</h2>";


            // 테이블 헤더 생성
            const headerRow = document.createElement('tr');

            const taskNameHeader = document.createElement('th');
            taskNameHeader.textContent = "작업 이름";

            const workerHeader = document.createElement('th');
            workerHeader.textContent = "작업자";

            const statusHeader = document.createElement('th');
            statusHeader.textContent = "상태";

            headerRow.appendChild(taskNameHeader);
            headerRow.appendChild(workerHeader);
            headerRow.appendChild(statusHeader);

            my_tasks_section.appendChild(headerRow);

            data.forEach(task => {
                // 각 업무에 대한 행 생성
                const row = document.createElement('tr');

                // 작업 이름을 나타내는 셀(칸) 생성
                const taskNameCell = document.createElement('td');
                taskNameCell.textContent = task.taskName;

                // 작업자를 나타내는 셀(칸) 생성
                const workerCell = document.createElement('td');
                workerCell.textContent = task.worker;

                // 상태를 나타내는 셀(칸) 생성
                const statusCell = document.createElement('td');
                statusCell.textContent = task.status;

                // 데이터 셀(칸)을 행에 추가
                row.appendChild(taskNameCell);
                row.appendChild(workerCell);
                row.appendChild(statusCell);

                // 행을 테이블에 추가
                my_tasks_section.appendChild(row);
            });

            // 테이블을 해당 요소에 추가
            my_tasks_section.appendChild(document.createElement('hr'));
            table.appendChild(my_tasks_section);
        });
</script>
</body>
</html>